{% extends 'base.html' %}

{% block content %}
<h2>{% if object %}Edit{% else %}Create{% endif %} Task</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/tasks">View tasks</a>
    </li>
    <li class="nav-item">
        <a aria-current="page"  class="nav-link active" href="#">Add task</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Clear all</a>-->
<!--    </li>-->
</ul>
<p>&nbsp;</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{%url 'task_list' %}" class="btn btn-outline">Cancel</a>
</form>

{% endblock content %}