{% extends 'base.html' %}

{% block content %}
<h2>My tasks:</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">View tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tasks/create">Add task</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Clear all</a>-->
<!--    </li>-->
</ul>

<p>&nbsp;</p>

{% if tasks %}
<ul class="list-group" style="width:50%">
    {% for task in tasks %}
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <h3><a href="{% url 'task' task.id %}" class="hi {% if task.completed %}text-decoration-line-through{% else %}pending{% endif %}">{{ task.name }}</a></h3>
                    <p>{{ task.description }} </p>
                </div>
                <div class="col-12 col-sm-2">
                    <a class="btn btn-primary" href="/tasks/{{ task.id }}/update">Edit</a>
                </div>
                <div class="col-12 col-sm-2">
                    <form method="post" action="{% url 'task_delete' pk=task.id %}"
                          onsubmit="return confirm('Are you sure you want to delete this task?');">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h4>You have no tasks yet. <a href="/tasks/create" class="btn btn-primary">Create one</a></h4>
{% endif %}
{% endblock content %}
